/.venv
/Cerrados_Concierge_Diario_2.xlsx
/Cerrados_Concierge_Diario_a_Zenvia_1.csv
/correo_automatico.bat
/correo_automatico.ipynb
/correo_automatico.py
/Info_Volumen de Siniestros_2020_042026.xlsx
/poligons.ipynb
/script_log.txt